<div class="well" style="padding: 10px 0">
    {% for element in root %}
        {% if not loop.first %}
            <hr />
        {% endif %}
        {% render 'WodaAdminBundle:Menu:element' with { 'element' : element } %}
    {% endfor %}
</div>
