<div class="navbar">
	<div id="menu_admin">
		<ul class="nav nav-tabs">
    		{% for element in root %}
        		{% render 'WodaAdminBundle:Menu:element' with { 'element' : element } %}
    		{% endfor %}
		</ul>
	</div>
</div>