    {% if menu.options.label %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ menu.options.label | trans({}, menu.options.translation_domain | default) }} 
                <span class="caret"></span>
            </a>
     
    {% endif %}

        <ul class="dropdown-menu" style="text-align:left">
        {% for element in menu %}
            <li>{% render 'WodaAdminBundle:Menu:element' with { 'element' : element } %}</li>
        {% endfor %}
        </ul>
    </li>
