{% extends 'WodaUIBundle::layout_admin.html.twig' %}

{% block content %}
    <h2>Creer une nouvelle page</h2>

    <form action="{{ path('woda_cms_cms_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Creer</button>
        </p>
    </form>
{% endblock %}