html, body {
    height: 100%;
}

.col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap{
    overflow: hidden; 
}

#left, #right {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
}

#left {
    background: #EBEBEB;
    left: 0;
}

#right {
    background: #FFF;
    right: 0;
}

#page {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logo {
    margin-top: 10px;
}

#search {
    float: left;
    margin: 5px 0px;
}

#searchbar {
    margin-top: 50px;
}

#searchbar input {
}

.form-search .input-append input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search .input-append .btn.btn-info {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #177DFE;
    background-image: linear-gradient(to bottom, #3EA2FF, #0066FF);
}

.form-search .input-append .btn.btn-info:hover {
    background-position: 0px;
}

#user {
    margin-top: 50px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #0088CC;
    /* text-decoration: underline; */
}

#header {
    background: #FFF;
    padding-left: 20px;
    margin-left: 0px;
}

#menu {
    background: #FFF;
}

#menu > ul {
    padding: 2px 2px 2px 5px;
    margin-bottom: 0px;
/*
    border-left: 1px solid #F0F;
    border-top: 1px solid #F0F;
    border-bottom: 1px solid #F0F;
*/
}

#menu > ul li span {
    padding-left: 5px;
}

#menu > ul li.search_title {
    border-bottom: 1px solid #D4D4D4;
    margin-right: 15px;
    font-size: 18px;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover {
    border: none;
}

#menu .nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#menu > ul li.underline {
    border-bottom: 1px solid #D4D4D4;
}
.menu-separator {
    background: #EBEBEB;
}

#content {
    min-height: 850px;
    background: #FFF;
    margin-left: 0px;
    padding: 10px;
}

