html, body {
    height: 100%;
}

.col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap{
    overflow: hidden; 
}

#left, #right {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
}

#left {
    background: #EBEBEB;
    left: 0;
}

#right {
    background: #FFF;
    right: 0;
}

#page {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logo {
    margin-top: 10px;
}

#search {
    float: left;
    margin: 5px 0px;
}

#searchbar {
    margin-top: 50px;
}

#searchbar input {
 }

.form-search .input-append input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.form-search .input-append .btn.btn-info {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #177DFE;
    background-image: linear-gradient(to bottom, #3EA2FF, #0066FF);
}

.form-search .input-append .btn.btn-info:hover {
    background-position: 0px;
}

#user {
    margin-top: 50px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #0088CC;
    /* text-decoration: underline; */
}

#header {
    background: #FFF;
    padding-left: 20px;
    margin-left: 0px;
    border-color:#bbbbbb;
	border-style: solid;
	border-width: 0px 0px 0px 1px
}


#topmenu {
    background: #FFF;
    padding-left: 20px;
    margin-left: 0px;
}

#menu {
    background: #FFF;
}

#menu > ul {
    padding: 2px;
    margin-bottom: 0px;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}


#menu > ul li span {
    padding-left: 5px;
}

#menu > ul li.search_title {
    border-bottom: 1px solid #D4D4D4;
    margin-right: 15px;
    font-size: 21px;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover {
    border: none;
}

#menu .nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#menu > ul li.underline {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

#menu-separator {
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #ebebeb;
 }


#content {
    min-height: 850px;
    background: #FFF;
    margin-left: 0px;
    padding: 10px;
}

#modal-upload {
    width: 592px;
    border-bottom:1px solid #eee;
}

#upload-startinfo {
    float:left;
    padding: 10px 60px 10px 60px !important;
    text-align:center;
    width: 145px;
    margin-bottom: 0px !important;
}

#upload-addbutton {
    float:left;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 25px;
}

.progress {
    width: 200px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

table.flist th {
    color:grey;
    font-size: 16px;
    font-weight: normal;
}

.filehover {
    text-align:right !important;
    display:none;
    padding-right: 20% !important;
}

.filetr:hover, .foldertr:hover {
    background-color: #49afcd;
}

.dellink {
    cursor: pointer;
}

.w-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    margin-top: 1px;
    margin-right: 5px;
}

.w-icon-hover {
    width: 20px;
    height: 20px;    
}

.w-icon-file {
    background-image: url(../img/icons/file-14.png);
}

.w-icon-music {
    background-image: url(../img/icons/music-14.png);
}

.w-icon-picture {
    background-image: url(../img/icons/picture-14.png);
}

.w-icon-movie {
    background-image: url(../img/icons/movie-14.png);
}

.w-icon-folder {
    background-image: url(../img/icons/folder-14.png);
}

.w-icon-shared {
    background-image: url(../img/icons/shared-20.png);
}

.w-icon-sharing {
    background-image: url(../img/icons/sharing-20.png);
}

.w-icon-starred {
    background-image: url(../img/icons/starred-20.png);
}

.w-icon-download {
    background-image: url(../img/icons/download-20.png);
}