<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Woda - Administration</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wodaui/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wodaui/css/style_admin.css') }}" />

        <script type="text/javascript" src="{{asset('bundles/wodaui/tiny_mce/tiny_mce.js') }}"></script>
        <script type="text/javascript">
            tinyMCE.init({ mode : "textareas" });
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('WodaAdminBundle.Default.index') }}">
                        Woda admin panel
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div id="menu">
                        {% render 'WodaAdminBundle:Menu:master' %}
                    </div>
                </div>
                <div class="span10">
                    <div id="main" class="well">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
