<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Woda</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wodaui/css/style_min.css') }}" />
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="navbar-inner">
        	<div class="container">
		   		<a class="brand" href="#">
           			<img src="{{ asset('bundles/wodaui/img/logo.png') }}" alt="logo" width="80px" height="0px" />
           		</a> 
          		<div class="nav pull-right">						
                	<a class="btn btn-primary" href="{{ path('WodaUserBundle.Security.login') }}">Sign in</a>
				</div>
				<div id ="login" class="span4">
                    {% block content %}
                    {% endblock %}
    			</div>   
	     	</div>
      	</div>	

    </div>	    
    </body>
</html>