{% extends "WodaUIBundle::layout.html.twig" %}

{% block content %}
hello, u want to download zis fayle ? <a href="{{ path('WodaFSBundle.Default.download', {"id": id}) }}" id="startdownload">click hir</a>.
{% endblock %}