{% extends"WodaUIBundle::layout.html.twig" %}

{% block content %}
    <h1>Nous contacter</h1>
    <p style="padding: 30px 0;">
        Vous souhaitez nous faire part de vos remarques, observations, suggestions ? Nous voulons les entendre ! N'hésitez pas à nous contacter via l'adresse email suivante, nous vous répondrons dans les plus brefs délais. Merci de votre participation !
    </p>
    <h3 style="text-align: center;">contact@woda-server.com</h3>
{% endblock %}
