{% extends"WodaUIBundle::layout.html.twig" %}

{% block content %}
    <h1>Woda</h1>
    <div class="row-fluid">
        <div class="span12">
            <div class="well">
                <p>Woda est un projet de partage de fichiers. Il est entièrement gratuit et intégré dans l’ordinateur. Après une simple installation, chaque utilisateur possède un dossier synchronisé où tous les fichiers sont stockés sur internet.
                <p>Toutes les données présentes dans le dossier sont découpées, protégées et diffusées sur le réseau du service. Pour rendre le service gratuit, les fichiers ne sont pas stockés sur des serveurs mais répartis sur le disque dur des autres utilisateurs, et ce de manière totalement sécurisée. Ils ne pourront pas avoir accès aux données.</p>
                <p>Les utilisateurs pourront gérer leurs documents depuis n’importe quel appareil connecté à internet, ordinateurs (windows,  mac ou linux), smartphones, ou plus simplement, depuis le website. En plus de stocker des fichiers, le système propose de les partager à ses amis ou à tous les utilisateurs du système!!.</p>
                <p>Un moteur de recherches est disponible pour faciliter l’échange des données et mieux gérer la communauté!</p>
            </div>
        </div>
    </div>
{% endblock %}
