parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     woda
    database_user:     root
    database_password: 

    mailer_transport:  gmail
    mailer_user:       service@woda-server.com
    mailer_password:   '3<qPWarB'

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt
    aws_key:                  AKIAIGXEIP24RN5TWCXQ
    aws_secret:               W9AWHwL4ZzF/9UBEfqI3M2+Cbujrn6L/XIFerD91
    aws_account_id:           aws@woda-server.com
    aws_canonical_id:         YOUR_CONONICAL_ID
    aws_canonical_name:       YOUR_CONONICAL_NAME
    aws_mfa_serial:           YOUR_MFA_SERIAL
    aws_cloudfront_keypair:   YOUR_CLOUDFRONT_KEYPAIR_ID
    aws_cloudfront_pem:       YOUR_CLOUDFRONT_PRIVATE_KEY_PEM