{% extends 'WodaUIBundle::layout.html.twig' %}

{% block content %}

    <div>
        <form action="{{ path('WodaUserBundle.Account.editEmail') }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}
