{% extends 'WodaUIBundle::layout.html.twig' %}

{% block content %}

    <div>
        Bienvenue sur votre page de gestion de compte, {{ user.login }}.
    </div>
    <ul>
      <li><a href="{{ path('WodaUserBundle.Account.editEmail') }}">Modifier mon email</a></li>
      <li><a href="{{ path('WodaUserBundle.Account.editPassword') }}">Modifier mon mot de passe</a></li>
    </ul>

{% endblock %}
