{% extends 'WodaUIBundle::layout_admin.html.twig' %}

{% block content %}
    <table class="table table-striped">
        <colgroup>
            <col width="100" />
            <col width="*" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td>#{{ content.id }}</td>
                    <td>{{ content.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
