/*
body {
   overflow: hidden;
}
*/
.counter {
    margin: 0 0 0 5px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    color: #999;
    background: #eee;
    border-radius: 2px;
}

ul#typeofquery li a {
    padding-right: 0px;
    border: none;
}

.notfound {
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
}

.search-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    margin-top: 1px;
    margin-right: 5px;
}

.search-icon-file {
    background-image: url("/web/bundles/wodasearch/img/icons/file-14.png");
}

.search-icon-music {
    background-image: url("/web/bundles/wodasearch/img/icons/music-14.png");
}

.search-icon-picture {
    background-image: url("/web/bundles/wodasearch/img/icons/picture-14.png");
}

.search-icon-movie {
    background-image: url("/web/bundles/wodasearch/img/icons/movie-14.png");
}

.search-icon-folder {
    background-image: url("/web/bundles/wodasearch/img/icons/folder-14.png");
}