{% extends 'WodaUIBundle::signup_layout.html.twig' %}

{% block content %}

    <div>
        <form action="{{ path('WodaUserBundle.Register.index') }}" method="post" id="form">
			<legend style="border-bottom-width:0px; margin-bottom:4px">Sign up</legend>

            {{ form_widget(form) }}
			<button type="submit" id="_submit" name="_submit" class="btn btn-danger">Sign up</button>
        </form>
    </div>

{% endblock %}
