{% extends 'WodaUIBundle::simple_layout.html.twig' %}

{% block content %}

    <div>
        <form action="{{ path('WodaUserBundle.Security.forgotpassword') }}" method="post">
			<legend style="border-bottom-width:0px; margin-bottom:4px">Forgot Password</legend>

            {{ form_widget(form) }}
			<button type="submit" id="_submit" name="_submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
