{% extends 'WodaUIBundle::layout.html.twig' %}

{% block content %}

    <div>
        <form action="{{ path('WodaUserBundle.Security.recoverypassword', { 'login64': login64, 'token': token }) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}
